<html>
    <head><title>Give a solution</title>
        <style>
            body {
                padding-left: 05%;
              background-image: url("{{ url_for('static', filename='images/Disease.jpg') }}");
              background-size: cover;
              font-family: Cambria Math;
              font-size: 110%;
            }
        </style>
    </head>
    <body>
        <h1><u>GET A SOLUTION!!!</u></h1><br> 
        <form name="form1">
            <h3>Select the Deficiency: </h3>
            <select name="disease">
                <option value="Select">--SELECT--</option>
                <option value="Protein">Protein</option>
                <option value="Carbohydrate">Carbohydrate</option>
                <option value="Fat">Fat</option>
                <option value="Vitamin A">Vitamin A</option>
                <option value="Vitamin B1">Vitamin B1</option>
                <option value="Vitamin B2">Vitamin B2</option>
                <option value="Vitamin B6">Vitamin B6</option>
                <option value="Vitamin B12">Vitamin B12</option>
                <option value="Vitamin C">Vitamin C</option>
                <option value="Vitamin D">Vitamin D</option>
                <option value="Vitamin E">Vitamin E</option>
                <option value="Vitamin K">Vitamin K</option>
                <option value="Calcium">Calcium</option>
                <option value="Iron">Iron</option>
                <option value="Zinc">Zinc</option>
                <option value="Potassium">Potassium</option>
                <option value="Sodium">Sodium</option>
            </select>
            <!-- <input type="image" src="download.png" id="soln" width="40" height="40"/> -->
            <input type="button" id="soln" value="Click on me!!!"><br>
            <p id="display"></p>
            <script src="{{ url_for('static', filename='public/js/display.js') }}"></script>
        </form>
    </body>
</html>